<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'weather/style.css' %}">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
<div class="row justify-content-md-center">
{% if weather_data_list_interia %}
    <div class="col col-sm-4">
    <ul>
        {% for key, value in weather_data_list_interia.items %}
            {% if forloop.counter < 3 %}
                <li>
                    {{ key }}
                    <ul></br>
                    {% for each_hour in value %}
                        <li class="single_hour_weather_entry">{{ each_hour }}</li>
{#                        {% if each_hour.2|length > 5 %}#}
{#                            <li style=""> <img src="https://i.pinimg.com/originals/02/df/13/02df1371803d037225b466ee8783519b.png" width="100" height="100" alt="grafika slonca svg"> </li>#}
{#                        {% endif %}#}
                    {% endfor %}
                    </ul></br>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
{% endif %}
    <div class="col col-sm-4">
    <ul>
        {% for key, value in weather_data_list_google.items %}
            {% if forloop.counter < 3 %}
            <li>
                {{ key }}
                <ul></br>
                {% for each in value %}
                    <li>{{ each }}</li>
                {% endfor %}
                </ul></br>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div class="col col-sm-4">
    <ul>
        {% for key, value in weather_data_list_onet.items %}
            {% if forloop.counter < 3 %}
            <li>
                {{ key }}
                <ul ></br>
                {% for each in value %}
                    <li>{{ each }}</li>
                {% endfor %}
                </ul></br>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
</div>
</div>
</body>
</html>